.listen-practice-overview {
  width: 99%;
  border-radius: 10px;
  height: 550px;
  box-shadow: 0px 2px 2px 0.5px #999;
  margin: 10px auto;

  & .title {
    margin: 40px;
    font-size: 30px;
    color: blue;
    font-weight: 500;
  }

  & .icon-title {
    padding: 0px 40px;
    display: flex;
    gap: 10px;

    & .icon-headphone {
      height: 30px;
      width: 30px;
      border-radius: 5px;
      box-shadow: 1px 2px 3px 1px aqua;
    }

    & .word {
      margin: auto 0px;
    }
  }

  & .main-practice-items {
    max-width: 1200px;
    margin: 30px auto;

    & .lesson-item {
      border-radius: 20px;
      height: 40px;
      box-shadow: 1px 2px 2px 1px #999;
      margin-bottom: 30px;
    }

    & .practice_test_items {
      & .practice_test_item {
        border-radius: 15px;
        height: 150px;
        box-shadow: 2px 2px 3px aquamarine;

        & .practice_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0 20px;

          & .test-progress {
            padding-top: 25px;
            padding-bottom: 20px;
            font-weight: 700;
            font-size: 32px;
            line-height: 26px;
            color: #c6ccd2;
            width: 100%;
            border-bottom: 1px dashed #c7cfe0;
          }
          & .test-result {
            color: #91a3c8 !important;
          }
          & .test-name {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
            color: #333;
            margin-top: 12px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}