.main__result__playgame__listen {
  padding: 0 24px;
  background: #f2f3f7;
}
.main__result__playgame__listen .gird-playgame-listen {
  display: grid;
  grid-template-columns: 335px auto;
  margin-top: 20px;
}
.main__result__playgame__listen .gird-playgame-listen .list-question-listen {
  width: inherit;
  position: sticky;
  top: 0;
  max-height: 100vh;
}
.main__result__playgame__listen .gird-playgame-listen .list-question-listen .title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #1d1d1d;
}
.main__result__playgame__listen .gird-playgame-listen .list-question-listen .showQuestionListen {
  border-radius: 10px;
  box-shadow: 1px 2px 3px 2px #999;
  height: 300px;
  width: 300px;
  background: white;
  margin-bottom: 30px;
}
.main__result__playgame__listen .gird-playgame-listen .list-question-listen .showQuestionListen .allQuestions {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  place-items: center;
  row-gap: 20px;
}
.main__result__playgame__listen .gird-playgame-listen .list-question-listen .showQuestionListen .allQuestions .btn-question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #f2f3f7;
  cursor: pointer;
}
.main__result__playgame__listen .gird-playgame-listen .list-question-listen .showQuestionListen .allQuestions .btn-question:hover {
  background: #b1afaf;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  transition: background 2s;
  z-index: 1;
  box-sizing: border-box;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen {
  min-height: 250px;
  position: relative;
  padding-top: 97px;
  padding-bottom: 43px;
  background-color: #fff;
  border-radius: 15px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-bgr {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  background: radial-gradient(74.21% 52.78% at 30.22% 82.87%, #56bcff 0, #65e2f5 100%);
  border-radius: 15px 15px 100px 100px;
  z-index: 0;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-bgr .bubble-top-left {
  position: absolute;
  z-index: 1;
  width: 83px;
  height: 82px;
  background: #81e9fa;
  border-radius: 15px 0 200px 0;
  top: 0;
  left: 0;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-bgr .small-bubble-left {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 36px;
  border-radius: 0 70px 70px 0;
  background: rgba(140, 239, 255, 0.4);
  top: 95px;
  left: 0;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-bgr .ellipse-left {
  position: absolute;
  z-index: 1;
  width: 58px;
  height: 76px;
  background: rgba(153, 235, 255, 0.8);
  top: 30px;
  left: 97px;
  border-radius: 100%;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-bgr .ellipse-right {
  position: absolute;
  z-index: 1;
  width: 63px;
  height: 85px;
  background: rgba(140, 233, 255, 0.8);
  top: 55px;
  right: 84px;
  border-radius: 100%;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-bgr .bubble-bottom-right {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 85px;
  background: rgba(140, 233, 255, 0.8);
  border-radius: 100%;
  top: 105px;
  right: 200px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 20px;
  max-width: 55%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 48px;
  margin: 0 auto;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-percentage {
  position: relative;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-percentage .main-percentage-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background: rgba(139, 235, 253, 0.2);
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-85px);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-percentage .box-layer2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 149px;
  background: rgba(149, 224, 250, 0.2);
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-74.5px);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-percentage .box-layer3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 20px 0 rgba(11, 153, 234, 0.4);
  left: 50%;
  transform: translateX(-50%) translateY(-65px);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics {
  padding-top: 112px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-result .result-item {
  font-size: 24px;
  font-weight: 700;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-result .result-item .result-total {
  color: rgb(132, 155, 182);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-result .result-item .result-correct {
  color: rgb(130, 188, 36);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-result .result-item .result-incorrect {
  color: rgb(255, 84, 84);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-result .result-item .result-text {
  font-size: 20px;
  margin-top: 10px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-button {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-button .btn-review-result {
  background: linear-gradient(0deg, rgb(248, 105, 182) 0%, rgb(255, 148, 140) 100%) !important;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-button .btn-again-playgame {
  background: linear-gradient(rgb(44, 225, 193) 0%, rgb(35, 202, 239) 100%) !important;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories {
  margin-top: 34px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .title {
  color: #2e2e2e;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list {
  gap: 15px;
  padding: 0 10px;
  margin-top: 27px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-total {
  border: none;
  background-color: rgb(132, 155, 182) !important;
  color: rgb(255, 255, 255) !important;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-new {
  border: 2px solid rgb(255, 196, 18);
  background-color: rgb(255, 255, 255) !important;
  color: rgb(255, 196, 18) !important;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-correct {
  border: 2px solid rgb(130, 188, 36);
  background-color: rgb(255, 255, 255) !important;
  color: rgb(130, 188, 36) !important;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-incorrect {
  border: 2px solid rgb(255, 84, 84);
  color: rgb(255, 84, 84) !important;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-total {
  color: rgb(132, 155, 182);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-new {
  color: rgb(255, 196, 18);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-correct {
  color: rgb(130, 188, 36);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-incorrect {
  color: rgb(255, 84, 84);
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .center-icon {
  padding-bottom: 30px;
  font-size: 30px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer {
  min-height: 250px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_answer_item {
  border-bottom: 1px solid black;
  margin: 0px 20px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_answer_item .number-question {
  text-align: left;
  color: #1d1d1d;
  font-weight: 600;
  height: 20px;
  padding: 10px;
  font-size: 20px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_answer_item .audio__question {
  padding: 20px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_correct_answer {
  padding: 30px 0px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_correct_answer .answer_item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 10px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_correct_answer .answer_item .custom_circle {
  background: red;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  height: 25px;
  width: 25px;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_correct_answer .answer_item label {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 3px;
  text-decoration: line-through;
}
.main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_transcript_answer {
  text-align: left;
  padding: 10px;
}

.btn-common-attributes, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-button .btn-review-result, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-data .main-statistics .main-statistics-button .btn-again-playgame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  min-width: 64px;
  padding: 6px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0px auto;
  width: 170px;
  height: 45px;
  border-radius: 50px;
  box-shadow: rgb(211, 217, 229) 0px 2px 6px 0px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
}

.circle-category-item, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-total, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-new, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-correct, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle .category-incorrect {
  padding: 8px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.text-category-item, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-total, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-new, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-correct, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .item-text-incorrect {
  margin: 15px 0px 0px;
  font-family: inherit;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 700;
}

.flex, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .result-questions-listen .main-result-overview-question-categories .categories-list .category-item .category-item-circle, .main__result__playgame__listen .gird-playgame-listen .grid__playgame__right .main__show__answer .show_correct_answer .answer_item .custom_circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-slider-track {
  background-color: black !important;
}/*# sourceMappingURL=ResultPlayGamePage.css.map */