.navbar-audio-question {
  display: flex;
  align-items: center;
  width: 350px;
  margin: 20px auto;
  margin-top: 50px;
  background: #f2f3f7;
  border-radius: 50px;
  padding: 5px;

  & .current-time-audio {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin-right: 20px;
    width: 100px;
  }

  & .slider-radio {
    color: black !important;
    // transition: 0.5s ease 0s;
    margin-right: 50px;
    width: 100px;
  }

  & .slider-radio-small {
    width: 50px;
    margin-right: 70px;
  }

  & .volume-audio {
    & .slider-volumn-hover {
      width: 50px;
      display: block;
      margin-right: 10px;
    }

    & .slider-volumn-small {
      display: none;
    }
  }

}