.main-study-view-lexical {
  padding: 0 24px;
  background: #E7ECF9;
}
.main-study-view-lexical .main-study-flex {
  display: grid;
  grid-template-columns: 335px auto;
  margin-top: 20px;
}
.main-study-view-lexical .study-layout-left .title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #1d1d1d;
  padding: 0 10px 45px;
  margin-left: 10px;
}
.main-study-view-lexical .study-layout-left .showResult {
  border-radius: 10px;
  box-shadow: 1px 2px 3px 2px #999;
  height: 200px;
  width: 300px;
  background: white;
}
.main-study-view-lexical .study-layout-left .showResult .result {
  padding: 25px;
  color: #357a32;
  font-size: 50px;
  font-weight: 800;
}
.main-study-view-lexical .study-layout-right {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.main-study-view-lexical .study-layout-right .flash-card-overview {
  position: relative;
  background: #fff;
  padding: 40px 10px;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 90px;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .overview-all-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  row-gap: 50px;
  margin-top: 20px;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .overview-all-items .overview-item {
  padding: 10px;
  border-radius: 15px;
  height: 70px;
  margin: 0 20px;
  background-color: #f4f5fc;
  box-shadow: 1px 3px 5px #999;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .overview-all-items .overview-item .overview-item-left span {
  display: block;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .overview-all-items .overview-item .overview-item-left .word {
  color: #007aff;
  font-weight: 500;
  font-size: 14px;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .overview-all-items .overview-item .overview-item-left .pronounce {
  color: #999;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .overview-all-items .overview-item .audio {
  cursor: pointer;
}
.main-study-view-lexical .study-layout-right .flash-card-overview .btn-playGame {
  margin-top: 40px;
  border: none;
  cursor: pointer;
  min-width: 64px;
  padding: 6px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-duration: 250ms, 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms, 0ms, 0ms;
  transition-property: background-color, box-shadow, border-color, color;
  width: 170px;
  height: 45px;
  border-radius: 50px;
  box-shadow: rgb(211, 217, 229) 0px 2px 6px 0px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
  background: linear-gradient(rgb(44, 225, 193) 0%, rgb(35, 202, 239) 100%) !important;
}

.link-item {
  text-decoration: none;
}

.mytest {
  font-size: 20px;
  cursor: pointer;
}/*# sourceMappingURL=VocabularyByCategory.css.map */