.sidebar {
  min-height: 103vh !important;
  min-width: 230px !important;
  width: 300px !important;
  transition: .5s ease !important;
}

.small-sidebar {
  min-height: 103vh !important;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: auto 0px;
}

.demo-logo {
  padding: 10px;
}
